{% extends "base.html" %}


{% block title %}
What kind of dog is it?
{% endblock %}


{% block message %}

<!--
<p class="text-center">
    <a href="#" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">
        Try it your self!
    </a>
  <strong>Upload your image and see what kind of dog it is showing.</strong>
</p>
-->

{% endblock %}


{% block content %}
<div class="container">
  <h1>Upload an image</h1>
  <hr>
  <p>
    <div class="row">
      <div class="col">
        <form action="/classify-image" method="POST" enctype="multipart/form-data">

        <div class="form-group">

          <label>Select image</label>
          <div class="custom-file">
            <input type="file" required="required" accept="image/*" class="custom-file-input" name="image" id="image">
            <label class="custom-file-label" for="image">Select image...</label>
            <small id="fileHelp" class="form-text text-muted">Your image will not be stored.</small>
          </div>


          <label>Select Model</label>
          <select name="model" class="custom-select">
            <option selected value="resnet50">Resnet50</option>
            <option value="vgg16">VGG16</option>
            <option value="from_scratch">Without Knowledge Transfer</option>
          </select>
          <small id="modelHelp" class="form-text text-muted">Best classification results were made with model build upon
            Resnet50. On Test Data it acchieved an accuracy of .......... %.</small>

        </div>
        <button type="submit" class="btn btn-primary">Run</button>
        </form>
      </div>
    </div>
  </p>

  <p>
    <div class="row">

      <div class="col-4">
        <h1>This Image...</h1>
        <hr>
        <img id='yourImage' src="" alt="Your Image">
      </div>

      <div class="col-8">
        <h1>...looks like a {{ dog_name }}</h1>
        <hr>
        {% for dog_img in dog_images %}
        <img id="dogImg-{{ loop.index0 }}" src="{{ dog_img }}" alt="Dog Image {{ loop.index0 }}">
        {% endfor %}
      </div>

    </div>
  </p>
</div>

{% endblock %}


{% block footer %}
<script>
  // Make the file name appear on select
  $(".custom-file-input").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });

  // Change src of yourImage to decoded bytestring
  $("#yourImage").attr("src", "data:image/jpeg;base64,{{image}}");
</script>
<!-- $("#yourImage").attr("src", "data:image/jpg;base64,$( {{image}} )") -->
{% endblock %}