{% extends "base.html" %}


{% block title %}
Statistics
{% endblock %}


{% block message %}
<p class="text-center">
    <a href="/classify-image" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">
        Manipulate the statistics by uploading more images!
    </a>
</p>
{% endblock %}


{% block content %}
<!--charts-->
<div id="charts" class="container mt-3 text-center">

    <!--top chart-->
    <div class="row">
        <div class="col-12">
          <div class="chart" id="classifiedBar">
          </div>
        </div>

        <div class="col-6">
        </div>
    </div>
    <!--bottom two charts-->
    <div class="row mb-6">
      <p>
        <div class="col-6">
          <div class="chart" id="speciesPie">
          </div>
        </div>
        <div class="col-6">
          <div class="chart" id="modelPie">
          </div>
        </div>
      </p>
    </div>

  <!-- display user-results for users who left a name -->
  {% if results %}
  <div class="row mb-6">
    <div class="col-12">
      <h2 class="text">User Results</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Dog Breed</th>
            <th scope="col">Used Model</th>
          </tr>
        </thead>
        <tbody>

        {% for name, dog_breed, model in results %}
          <tr>
            <td>{{ name }}</td>
            <td>{{ result }}</td>
            <td>{{ model }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}


{% block footer %}
<script>
  var barchart = {{classifiedBar | safe}};
  Plotly.plot('classifiedBar', barchart.data, barchart.layout || {});

  var modpie = {{modelPie | safe}};
  Plotly.plot('modelPie', modpie.data, modpie.layout || {});

  var specpie = {{speciesPie | safe}};
  Plotly.plot('speciesPie', specpie.data, specpie.layout || {});
</script>
{% endblock %}